Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g8, pull requests merged in 2022-10, with the labels that each got.

#51 Add collab sharing text editor and custom signalling server
  collab-service/callback.js
  collab-service/index.js
  collab-service/package-lock.json
  collab-service/package.json
  collab-service/server.js
  collab-service/utils.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/CodeEditorWindow/index.js
  frontend/src/components/CollabEditor/CollabEditorBox.css
  frontend/src/components/CollabEditor/CollabEditorBox.js
  frontend/src/components/MatchTimer.js
  frontend/src/views/collab/CollabPage2.js
  frontend/src/views/collab/CollabPage2.scss
Labels: Frontend, priority.high, CollaborationService

#56 Add get question by id endpoint
  question-service/controller/question-controller.js
  question-service/index.js
  question-service/model/question-orm.js
  question-service/test.js
Labels: QuestionService

#59 Add support for "ANY" difficulty type
  question-service/model/db-interaction.js
Labels: service.Question

#67 Add endpoints to Question Service
  question-service/controller/question-controller.js
  question-service/index.js
  question-service/model/db-interaction.js
  question-service/model/question-orm.js
  question-service/test.js
Labels: service.Question

#71 Communication service
  communication-service/.eslintrc.js
  communication-service/index.js
  communication-service/package-lock.json
  communication-service/package.json
  frontend/public/runtime-env.js
  frontend/src/components/ChatWindow/index.js
  frontend/src/components/ChatWindow/styles.scss
  frontend/src/components/CodeEditorWindow/styles.scss
  frontend/src/components/CollabEditor/CollabEditorBox.css
  frontend/src/utils/configs.js
  frontend/src/views/collab/CollabPage.js
  frontend/src/views/collab/CollabPage.scss
  frontend/src/views/collab/CollabPage2.js
  frontend/src/views/collab/CollabPage2.scss
Labels: service.Commumication

#64 Deployment
  deployment/gateway.yml
  deployment/service-account.yaml
  frontend/deployment.yaml
  frontend/package.json
  frontend/src/components/ChatWindow/index.js
  frontend/src/middleware/questionSvc.js
  frontend/src/stores/user/user.actions.js
  frontend/src/utils/authUtils.js
  frontend/src/utils/configs.js
  frontend/src/views/MatchingPage.js
  matching-service/index.js
  matching-service/model/matchPotential.js
  matching-service/model/matched.js
  matching-service/service.yaml
  question-service/Dockerfile
  question-service/config/config.js
  question-service/deployment.yaml
  question-service/service.yaml
  user-service/index.js
  user-service/service.yaml
Labels: Infrastructure

#73 Improve collaboration page UI
  frontend/public/index.html
  frontend/public/runtime-env.js
  frontend/src/components/ChatWindow/index.js
  frontend/src/components/ChatWindow/styles.scss
  frontend/src/components/CollabEditor/index.js
  frontend/src/components/CollabEditor/styles.scss
  frontend/src/components/QuestionCard/index.js
  frontend/src/components/QuestionCard/styles.scss
  frontend/src/scss/constants.scss
  frontend/src/scss/theme.scss
  frontend/src/utils/configs.js
  frontend/src/utils/useAutoSizedTextArea.js
  frontend/src/views/collab/CollabPage2.js
  frontend/src/views/collab/CollabPage2.scss
Labels: service.Frontend

#74 Restrict routes to and fro the collab page
  frontend/src/App.js
  frontend/src/components/ChatWindow/styles.scss
  frontend/src/components/MatchTimer.js
  frontend/src/components/NavBar/index.js
  frontend/src/routes/CollabRoute.js
  frontend/src/views/MatchingPage.js
  frontend/src/views/collab/CollabPage2.js
Labels: service.Frontend

#78 Sync sequelize models with matching-db tables for all db interactions
  frontend/public/runtime-env.js
  matching-service/config/index.js
  matching-service/controller/matchController.js
  matching-service/database/index.js
  matching-service/index.js
  matching-service/model/matchPotential.js
  matching-service/model/matched.js
Labels: service.Matching

#83 Add alert when unable to login successfully
  frontend/src/views/login/LoginPage.js
Labels: service.Frontend

#79 Bugfix: Remove old match potential during refresh
  frontend/src/views/MatchingPage.js
  matching-service/controller/match.js
  matching-service/index.js
  matching-service/package.json
  matching-service/utils/match.js
Labels: bug, service.Matching, priority.high

#80 Bugfix for communication service
  communication-service/index.js
  communication-service/package-lock.json
  communication-service/package.json
  frontend/public/runtime-env.js
  frontend/src/components/ChatWindow/index.js
Labels: bug, priority.high, service.Commumication

#93 History service GET endpoints to use request query instead of body to send data
  history-service/controller/history-controller.js
  history-service/model/db-interaction.js
  history-service/model/history-orm.js
  history-service/test/history-controller.test.js
  matching-service/package-lock.json
  matching-service/package.json
Labels: service.History

#95 Implement history page to get and store latest attempts
  frontend/public/runtime-env.js
  frontend/src/App.js
  frontend/src/App.scss
  frontend/src/components/CollabEditor/index.js
  frontend/src/components/DifficultyPill/index.js
  frontend/src/components/LeaveRoomModal/index.js
  frontend/src/components/NavBar/index.js
  frontend/src/components/NotifyUserLeftModal/index.js
  frontend/src/components/QuestionCard/index.js
  frontend/src/middleware/historySvc.js
  frontend/src/middleware/questionSvc.js
  frontend/src/stores/match/match.slice.js
  frontend/src/utils/configs.js
  frontend/src/views/collab/CollabPage2.js
  frontend/src/views/history/HistoryPage.js
  frontend/src/views/history/HistoryPage.scss
Labels: service.History
